build/ 
.dart_tool/ 
.flutter-plugins 
.flutter-plugins-dependencies 
.packages 
.pub-cache/ 
.pub/ 
.idea/ 
android/.gradle/ 
android/app/debug 
android/app/profile 
android/app/release 
ios/Pods/ 
ios/Runner.xcworkspace/ 
ios/.symlinks/ 
macos/Pods/ 
macos/Runner.xcworkspace/ 
windows/runner/Debug/ 
windows/runner/Release/ 
linux/runner/Debug/ 
linux/runner/Release/ 
web/.dart_tool/ 
web/build/ 
*.iml 
.vscode/ 
*.lock 
*.log 
node_modules/ 
.env 
npm-debug.log* 
yarn-debug.log* 
yarn-error.log* 
dist/ 
coverage/ 
logs/ 
*.pid 
*.seed 
*.pid.lock 
pids/ 
*.log 
.DS_Store 
*.tgz 
build/ 
*.tsbuildinfo 
*.swp 
*.swo 
.env.local 
.env.*.local
